---
permalink: /catalog/
eleventyExcludeFromCollections: true
---
<!doctype html>
<meta charset="utf-8">
<title>Catalog</title>
<meta http-equiv="refresh" content="0; url=/">
<p>The catalog is the <a href="/">home page</a>.</p>
